<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">Travel Agency</p>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="bookings"><a href="/bookings">My bookings</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">SignUp</a></li>
      </ul>
  </div>
</nav>
